<html>
  <head>
<title>Enlaces externos al SIAT</title>
</head>

<body>
<h1>Lista de posibles enlaces externos que apunten al SIAT</h1>


<p>

La siguiente es la lista de link validos para enlazar el sistema de tramites on-line con el Siat.
</p>

<p>
<strong>Tramites on-line debe usar estas uri en sus link para ingresar al siat.</strong>
</p>

<p>
<a href="/siat/seg/Login.do?method=anonimo&url=/gde/AdministrarLiqDeuda.do?method=inicializarContr&id=14" >Liquidacion Deuda TGI para Contribuyentes</a>
</p>

<p>
<a href="/siat/seg/Login.do?method=anonimo&url=/gde/AdministrarLiqDeuda.do?method=inicializarContr&id=1" >Liquidacion Deuda CdM para Contribuyentes (Pavimento)</a>
</p>

<p>
<a href="/siat/seg/Login.do?method=anonimo&url=/gde/AdministrarLiqDeuda.do?method=inicializarContr&id=2" >Liquidacion Deuda CdM para Contribuyentes (Gas)</a>
</p>

<p>
<a href="/siat/seg/Login.do?method=anonimo&url=/pad/AdministrarCambiarDomEnvio.do?method=inicializar&id=14">Cambio Domicilio Envio Cuenta TGI</a>
</p>

<p>
<a href="/siat/seg/Login.do?method=anonimo&url=/pad/AdministrarCambiarDomEnvio.do?method=inicializar&id=15">Cambio Domicilio Envio Cuenta Drei</a>
</p>


<p>
<a href="/siat/login/LoginSsl.do?method=webInit">Consulta Procurador Web</a>
</p>

<p>
<a href="/siat/seg/Login.do?method=anonimo&url=/gde/AdministrarLiqDeuda.do?method=inicializarContr&id=15" >Liquidacion Deuda DReI para Contribuyentes</a>
</p>

<p>
<a href="/siat/seg/Login.do?method=anonimo&url=/gde/AdministrarLiqDeuda.do?method=inicializarContr&id=16" >Liquidacion Deuda Etur para Contribuyentes</a>
</p>

<p>
<a href="/siat/seg/Login.do?method=anonimo&url=/gde/AdministrarLiqDeuda.do?method=inicializarContr&id=166" >Tasa de ascensores</a>
</p>


</body>
</html>
